@import "~/sass/colors.module.scss";

.header {
  display: flex;
  background-color: map-get($colors, "primary");
  height: 75px;
  padding: 16px;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}
